.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;

    .home-banner{
        width: 100%;
    }

    .product-list{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}