<div class="container">
    <mat-card class="product-card" *ngFor="let product of ELEMENT_DATA">
        <div class="header-product">
            <div class="product-infos">
                <p class="product-name">{{product.name}}</p>
                <p *ngIf="product.description == 'STT'">(StatTrak™)</p>
            </div>
            <p class="product-type ft" *ngIf="product.productType[0] == 'FT'">FIELD TESTED</p>
            <p class="product-type bs" *ngIf="product.productType[0] == 'BS'">BATTLE SCARED</p>
            <p class="product-type ww" *ngIf="product.productType[0] == 'WW'">WELL WORM</p>
            <p class="product-type fn" *ngIf="product.productType[0] == 'FN'">FACTOR NEW</p>
        </div>
        <img src="{{product.img}}" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>{{product.oldPrice}}</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>{{product.newPrice}}</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
</div>