<div class="container">
    
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>
    <mat-card class="product-card">
        <div class="header-product">
            <p class="product-name">AWP | Chromatic Aberration (Field-Tested)</p>
            <p class="product-type">Factor new</p>
        </div>
        <img src="https://g.fp.ps.netease.com/market/file/62bf990b36cc4b81eddcff97rfCFwx9J04" class="product-img">
        <div class="product-price">
            <div class="old-price">
                <p>R$ </p>
                <h4>1000.00</h4>
            </div>
    
            <div class="new-price">
                <p>R$</p>
                <h2>999.00</h2>
            </div>
        </div>
        <button mat-raised-button color="accent" class="btn-buy-product">Comprar</button>
    </mat-card>


</div>